body {
  background: url(tambola.png);
  background-size: cover;
}

h1 {
  font-size: 40px;
  background: rgb(0, 0, 0, 0.7);
  padding: 2%;
  color: white;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.body {
  font-size: 20px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  padding: 10px;
  background-color: beige;
  font-family: sans-serif;
  color: black;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: medium;
  border: none;
  border-radius: 2px;
}
